<div ng-submit="signUp()" ng-controller="SignUpCtrl">
<form class="form-signin" role="form">
	<h2 class="form-signin-heading">Please sign up</h2>
	<input type="email" class="form-control" ng-model="email" placeholder="Email address" required autofocus>
	<input type="password" class="form-control" ng-model="password" placeholder="Password" required>
	<input type="password" class="form-control" ng-model="password_confirm" placeholder="Password Confirm" required>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>
</div>